<%= page_header('Dishes') %>

<div class="col-lg-12">
  <div class="panel panel-green">
    <div class="panel-heading">All dishes</div>
    <div class="panel-body">
      <div class="table-responsive" id="dishes">
        <%= render 'dishes' %>
      </div>
    </div>
  </div>
</div>
